@font-face {
    font-family: "OtistaFont";
    src: url("Fonts/Otista Regular - DEMO.ttf") format("truetype");
}

@font-face {
    font-family: "CoveredByYourGrace";
    src: url("Fonts/CoveredByYourGrace-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SussanScript";
    src: url("Fonts/sussan-script.otf") format("opentype");
}

@font-face {
    font-family: "Hubert";
    src: url("Fonts/hubert.otf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
}
.container {
    background-color: black;
    width: 400px;
    padding: 10px;
}

.sub-container {
    padding: 0;
    margin: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.upper-layer {
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 5px;
}

.lower-layer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.box {
    background-color: red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  0.3s ease ;
}

.box:hover{
    transform: scale(1.05) !important;
}


.box-1 {
    background-color: #f32d55;
    border-top-left-radius: 10px;
    color: white;
    font-size: 25px;
    animation: forBox1 1s ease forwards;
    opacity: 0;
}

.middle {
    height: 100%;
    width: 100%;
    width: 150%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.box-2 {
    background-color: #fae1d7;
    font-family: "Hubert";
    font-weight: 550;
    width: 100%;
    height: 150px;
    animation: forBox2 1s ease forwards;
}

.box-3 {
    background-color: #23191e;
    font-family: "SussanScript";
    font-size: 1.1em;
    color: white;
}

.box-4 {
    background-color: #b9b4fe;
    border-top-right-radius: 10px;
    font-size: 25px;
    animation: forBox4 1s ease forwards;
}
.box-5 {
    background-color: #8ef693;
    font-family: "OtistaFont";
    border-bottom-left-radius: 10px;
    width: 150%;
    animation: forBox5_6 1s ease forwards;
}
.box-6 {
    background-color: #fae1d7;
    font-family: "CoveredByYourGrace";
    font-weight: bold;
    border-bottom-right-radius: 10px;
    animation: forBox5_6 1s ease forwards;
    transition:  0.3s ease ;
}

.box-6 span {
    font-size: 11px;
    font-weight: bold;
}

@keyframes forBox1 {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes forBox2 {
    0% {
        opacity: 0;
        transform: translatey(-100%);
    }

    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes forBox4 {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes forBox5_6 {
    0% {
        opacity: 0;
        transform: translatey(100%);
    }

    100% {
        opacity: 1;
        transform: translatey(0);
    }
}